repos:
  - repo: local
    hooks:
      - id: forbidden-files
        name: forbidden files
        entry:
          found Copier update rejection files; review and remove them before
          merging.
        language: fail
        files: "\\.rej$"
{{ "{%" }} block template_precommitconfig {{ "%}" }}
{{ "{%" }} endblock template_precommitconfig {{ "-%}" }}
